<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xgb.blog.dao.ArtMapper">
	<resultMap id="BaseResultMap" type="com.xgb.org.domain.Art">
		<id property="id" column="id" javaType="java.lang.String"></id>
		<result property="title" column="title" javaType="java.lang.String"></result>
		<result property="image" column="image" javaType="java.lang.String"></result>
		<result property="descM" column="descM" javaType="java.lang.String"></result>
		<result property="content" column="content" javaType="java.lang.String"></result>
		<result property="typese" column="typese" javaType="java.lang.String"></result>
		<result property="isResouce" column="isResouce" javaType="java.lang.Integer"></result>
		<result property="url" column="url" javaType="java.lang.String"></result>
		<result property="createTime" column="createTime" javaType="java.lang.String"></result>
		<result property="updateTime" column="updateTime" javaType="java.lang.String"></result>
		<result property="views" column="views" javaType="java.lang.Integer"></result>
		<result property="statuses" column="statuses" javaType="java.lang.Integer"></result>
		
		<collection property="labels" column="id" ofType="com.xgb.org.domain.Label" select="com.xgb.blog.dao.LabelMapper.getList">
			<id property="id" column="id" javaType="java.lang.String"></id>
			<result property="name" column="name" javaType="java.lang.String"></result>
			<result property="sort" column="sort" javaType="java.lang.Integer"></result>
		</collection>
		
	</resultMap>
	
	<sql id="Base_Column_List_NoCoutent">
		id,title,image,descM,typese,isResouce,url,createTime,updateTime,views,statuses
	</sql>
	
	<sql id="Base_Column_Bean">
		id,title,image,descM,content,typese,isResouce,url,createTime,updateTime,views,statuses
	</sql>
	
	
	<!-- 按ID查询 -->
	<select id="getBeanById" parameterType="com.xgb.org.domain.Art" resultMap="BaseResultMap">
		select <include refid="Base_Column_Bean" /> from t_art where id = #{id}
	</select>
	
	<!-- getList -->
	<select id="getList" parameterType="java.util.Map"
		resultMap="BaseResultMap" resultType="java.util.List">
		select
		<include refid="Base_Column_List_NoCoutent" />
		from t_art WHERE typese = #{typese}
		<if test="search != null and search != ''">
        	AND title LIKE concat(concat('%',#{search}),'%') ESCAPE '/'
        	OR descM LIKE concat(concat('%',#{search}),'%') ESCAPE '/'
        	<!-- OR content LIKE concat(concat('%',#{search}),'%') ESCAPE '/' -->
        </if>
		<if test="sort == -1">
			ORDER BY createTime DESC
		</if>
		<if test="sort != -1">
			<if test="sort == 1">
				ORDER BY views DESC
			</if>
			<if test="sort == 0">
				ORDER BY views
			</if>
		</if>
		limit #{index},#{pageSize}
		
	</select>
	
	<select id="getCount" parameterType="com.xgb.org.domain.Art" resultType="int">
		select count(*)
		from t_art WHERE typese = #{typese}
		<if test="search != null and search != ''">
        	AND title LIKE concat(concat('%',#{search}),'%') ESCAPE '/'
        </if>
	</select>
	
	
	<!-- getListByLabel -->
	<select id="getListByLabel" parameterType="java.util.Map"
		resultMap="BaseResultMap" resultType="java.util.List">
		select
		<include refid="Base_Column_List_NoCoutent" />
		from t_art WHERE id IN (SELECT art_id FROM t_art_label WHERE label_id = #{lid})
		<if test="sort == -1">
			ORDER BY createTime DESC
		</if>
		<if test="sort != -1">
			<if test="sort == 1">
				ORDER BY views DESC
			</if>
			<if test="sort == 0">
				ORDER BY views
			</if>
		</if>
		limit #{index},#{pageSize}
		
	</select>
	
	<select id="getCountByLabel" parameterType="com.xgb.org.domain.Art" resultType="int">
		select count(*)
		from t_art WHERE id IN (SELECT art_id FROM t_art_label WHERE label_id = #{lid})
	</select>
	

</mapper>
