<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="utf-8">
	<title>娱乐_凌青子个人博客 - 一个站在Java程序设计之路的技术员个人博客网站</title>
	<meta name="keywords" content="个人博客,凌青子个人博客,凌青子" />
	<meta name="description" content="一个站在Java程序设计之路的技术员个人博客网站。" />
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<link rel="icon" type="image/x-icon" href="images/icon/favicon.png">
	<link th:href="@{/css/base.css}" href="css/base.css" rel="stylesheet">
	<link th:href="@{/css/index.css}" href="css/index.css" rel="stylesheet">
	<link th:href="@{/css/m.css}" href="css/m.css" rel="stylesheet">
	
	<!--[if lt IE 9]>
	<script src="js/modernizr.js"></script>
	<![endif]-->
	<script type="text/javascript" th:src="@{/js/swiperImg/js/jquery-1.11.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/swiperImg/js/strip/strip.min.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/js/swiperImg/css/strip/strip.css}"/>
	
	<style>
		*{margin:0;padding:0;list-style:none;}
		p{display:block;text-align:center;margin:20px auto;}
		.cursor{cursor:pointer}
		*{margin:0;padding:0;list-style:none;}
		p{display:block;text-align:center;margin:20px auto;}
		.strp-window{height: 100%;}
	</style>
	
	<script th:inline="javascript">
	var images = [[${images}]];
	var array = new Array();
	for(var i=0;i<images.length;i++){
		var obj = {};
		var urlTemp = images[i].substr(1);
		obj.url = urlTemp.substring(0,urlTemp.length-1);
		obj.caption = '';
		var options = {};
		options.side = 'top';
		obj.options = options;
		array.push(obj);
	}
	
	function opend(){
		Strip.show(array);
	}
	</script>
	

	</head>
	<body>
		<header>
		  <div class="tophead">
		    <div class="logo"><a th:href="@{/index}" href="/">凌青子个人博客</a></div>
		    <nav class="topnav" id="topnav">
		      <ul>
		        <li><a th:href="@{/index}" >网站首页</a></li>
		        <li><a th:href="@{/me/index}" >关于我</a></li>
		        <li><a th:href="@{/mystudy/index}" >我的学习</a></li>
		        <li><a id="topnav_current" th:href="@{/myfun/index}" >我的娱乐</a></li>
		        <li><a th:href="@{/life/index}" >慢生活</a></li>
		        <li><a th:href="@{/message/index}" >留言</a></li>
		      </ul>
		    </nav>
		  </div>
		</header>
		<article>
		  <h1 class="t_nav"><span>不要轻易放弃。学习成长的路上，我们长路漫漫，只因学无止境。 </span><a th:href="@{/index}" class="n1">网站首页</a><a th:href="@{/myfun/index}" class="n2">我的娱乐</a></h1>
		  <div class="infos">
		    <div class="newsview">
		      <h3 class="news_title" th:text="${bean.title}"></h3>
		      <div class="news_author">
		      	<span class="au01"><a href="mailto:865815412@qq.com">凌青子</a></span>
		      	<span class="au02" th:text="${bean.createTime}"></span>
		      	<span class="au03">共<b th:text="${bean.views}">
		      	<script src="/e/public/ViewClick/?classid=5&amp;id=816&amp;addclick=1"></script>0</b>人围观</span>
		      	<span class="cursor" th:title="点击查看相册" onclick="opend()">查看相册</span>
		      </div>
		      <div class="tags" th:if="${lables!=null}">
		      	<a th:each="lable:${lables}" th:utext="${' &nbsp;' + lable.name + ' &nbsp;'}">标签名称</a>
		      </div>
		      <div class="news_about cursor" th:text="${bean.descM}" th:title="${bean.descM}"><strong>简介</strong></div>
		      <div class="news_infos" th:utext="${bean.content}" style="overflow: scroll;overflow-y:hidden;"></div> 
		    </div>
		    <div class="share"> </div>
		    <div class="otherlink">
		      <h2>相关推荐</h2>
		      <ul>
		        <li th:each="list:${listRandom}"><a th:href="${'/blog/myfun/info/' + list.id }" th:title="${list.title }" th:text="${list.title }"></a></li>
		      </ul>
		    </div>
		    <div class="news_pl">
		      <h2>文章评论</h2>
		      <ul>
		        <div class="gbko"> 暂未开启该功能</div>
		      </ul>
		    </div>
		  </div>
		  <div class="sidebar">
			<div class="search">
		      <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
		        <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">
		        <input name="show" value="title" type="hidden">
		        <input name="tempid" value="1" type="hidden">
		        <input name="tbname" value="news" type="hidden">
		        <input name="Submit" class="input_submit" value="搜索" type="submit">
		      </form>
		    </div>
		    <div class="lmnav">
		      <h2 class="hometitle">栏目导航</h2>
		      <ul class="navbor">
				<li><a th:href="@{/index}" >网站首页</a></li>
		        <li><a th:href="@{/me/index}" >关于我</a></li>
		        <li><a th:href="@{/mystudy/index}" >我的学习</a></li>
		        <li><a th:href="@{/myfun/index}" >我的娱乐</a></li>
		        <li><a th:href="@{/life/index}" >慢生活</a></li>
		        <li><a th:href="@{/message/index}" >留言</a></li>
		      </ul>
		    </div>
		    <div class="cloud">
		      <h2 class="hometitle">标签云</h2>
		      <ul>
		        <a th:each="list:${listLable}" th:href="@{/search/byLabel?lid=} + ${list.id}" th:text="${list.name}"></a> 
		      </ul>
		    </div>
		    <div class="paihang">
		      <h2 class="hometitle">点击排行</h2>
		      <ul>
		        <li th:each="list:${list}">
		        	<a th:href="${list.id }" style="width: auto;">
			        	<b th:text="${list.title}" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"></b>
			          	<p>
			          	<i><img th:src="${list.image}" style="width: 100%;"></i>
			          		<div th:text="${list.descM}" style="overflow : hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 4;-webkit-box-orient: vertical;"></div>
			          	</p>
		          	</a>
		        </li>
		      </ul>
		    </div>
	    
		    <div class="weixin" align="center">
				<h2 class="hometitle">官方微信</h2>
				<ul><img style="width: 75%;height: 75%;" src="/blog/images/pic/qrcode.png"></ul>
	    	</div>
		  </div>
		</article>
		<div class="blank"></div>
		<footer>
		  <p>Design by <a>凌青子个人博客</a> <!-- <a href="/">蜀ICP备11002373号-1</a> --></p>
		</footer>
		

		<script th:src="@{/js/jquery-2.1.1.min.js}"></script>
		<!-- GoTop -->
		<div class="scroll" id="scroll" style="display:none;">回到顶部</div>
		<script type="text/javascript">
		$(function(){
			showScroll();
			function showScroll(){
				$(window).scroll( function() { 
					var scrollValue=$(window).scrollTop();
					scrollValue > 100 ? $('div[class=scroll]').fadeIn():$('div[class=scroll]').fadeOut();
				} );	
				$('#scroll').click(function(){
					$("html,body").animate({scrollTop:0},200);	
				});	
			}
		})
		</script>
	</body>
</html>
